.left, .Left {
  float: left !important;
}

.right, .Right {
  float: right !important;
}

.clearLeft {
  clear: left !important;
}

.clearRight {
  clear: right;
}

.clear {
  clear: both;
}

#notificationLoginInnerContainer {
  width: 400px;
  height: 160px;
  padding: 10px 10px 10px 5px;
}

.imajnetLoginTitle h1 {
  font-size: 19px !important;
  text-align: center;
  border-bottom: 1px solid #FFFFFF;
}

#rememberMeLabel {
  margin: 2px 0 0 5px;
  padding: 0;
  font-size: 14px;
  font-weight: normal;
}

.imajnetLoginItem {
  height: 25px;
  line-height: 25px;
  padding-top: 0;
  margin-top: 10px;
}

.imajnetLoginItem input[type=text], .imajnetLoginItem input[type=password] {
  padding-left: 6px;
  padding-right: 6px;
}

.imajnetLoginLeft {
  width: 140px;
}

.loadmask {
  overflow: hidden !important;
  background-color: #000000 !important;
  opacity: 0.7 !important;
  z-index: 999999999 !important;
  width: 10000%;
  height: 10000%;
}

.loadmask-msg {
  border: none !important;
  background: transparent !important;
  padding: 0 !important;
  width: 54px !important;
  height: 55px !important;
  z-index: 1000000001 !important;
}

.loadmask-msg div {
  padding: 0 !important;
  background: url('..//img/loading.gif') no-repeat !important;
  line-height: auto !important;
  border: none !important;
  width: 54px !important;
  height: 55px !important;
}

.modalOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  z-index: 999999;
}

.opacity0 {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

.opacity30 {
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
}

.opacity60 {
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}

.opacity70 {
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}

.opacity80 {
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

.opacity100 {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
}

#imajnetLoadingImageContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;
}

.imajnetLoadingImage {
  width: 54px;
  height: 55px;
  margin: auto;
  vertical-align: middle;
}

#imajnetMainContainer input[type=text], #imajnetMainContainer input[type=password],
#imajnetMainContainer input[type=button], #imajnetMainContainer input[type=submit],
#imajnetMainContainer select, #imajnetMainContainer textarea,
#imajnetMainContainer input[type=date], #imajnetMainContainer input[type=dateTime] {
  padding-left: 6px !important;
  padding-right: 6px !important;
  border: 1px solid #3A74B9;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  outline: 0;
}

input[type=text]:focus, input[type=password]:focus, input[type=button]:focus,
select:focus, textarea:focus {
  -moz-box-shadow: 2px 2px 3px rgba(38, 131, 239, 0.67);
  -webkit-box-shadow: 2px 2px 3px rgba(38, 131, 239, 0.67);
  box-shadow: 2px 2px 3px rgba(38, 131, 239, 0.67);
}

#imajnetMainContainer input[type=button]:hover, #imajnetMainContainer input[type=submit]:hover {
  -moz-box-shadow: 2px 2px 3px rgba(38, 131, 239, 0.67);
  -webkit-box-shadow: 2px 2px 3px rgba(38, 131, 239, 0.67);
  box-shadow: 2px 2px 3px rgba(38, 131, 239, 0.67);
}

.imajnetDockingMainContainer {
  position: absolute;
  z-index: 999;
}

.imajnetDockingLeftContainer {
  height: 18px;
  background-color: #5371B9;
  text-align: center;
}

.imageDockingButton {
  width: 20px;
  height: 20px;
  margin: auto;
  cursor: pointer;
  background-color: transparent;
  background-position: center !important;
  background-repeat: no-repeat;
}

.imajnetDockingRightContainer {
  width: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: rgb(38, 131, 239);
  background-color: rgba(38, 131, 239, 0.67);
}

#imajnetDockingMainContainer_imageButtons {
  z-index: 4;
}

#imajnetDockingRightContainer_imageButtons div:hover {
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}

.popupContentContainer {
  margin-top: 10px;
  margin-bottom: 10px;
}

.popupContentContainerTitle {
  position: relative;
  top: -10px;
  left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  display: inline;
  font-family: OpenSansLight;
  font-weight: bold;
  font-size: 14px;
  color: #298CFF;
  background-color: rgba(242, 242, 242, 0.5);
  border: 1px solid #DBDCD8;
}

.optionsGroup {
  margin-top: 15px;
  padding: 3px 3px 3px 10px;
  background-color: rgba(242, 242, 242, 0.5);
  border: 1px solid #DBDCD8;
}

div#popupImajnet *:not(#imajnetAddress):not(text), div#imajnetDockingMainContainer_header *:not(#imajnetAddress) {
  font-family: Arial, Helvetica, sans-serif !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.addressAndLRS {
  width: 190px;
  position: absolute;
  font-size: 11px;
  padding: 2px 10px 0 10px;
  background: rgb(38, 131, 239);
  background: rgba(38, 131, 239, 0.67);
  overflow: hidden;
  z-index: 3;
  color: #FFFFFF;
}

.addressAndLRS:hover {
  background: rgb(58, 116, 185);
  background: rgba(58, 116, 185, 1);
}

.LRSItemValue {
  max-width: 100px;
}

#imajnetNewsDialog {
  z-index: 1100 !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  color: rgb(38, 131, 239);
  color: rgba(38, 131, 239, 0.67);
}

div.olControlZoom {
  display: none;
}

.imajnetItem {
  z-index: 999;
}

#popupHelp, #popupAboutImajnet, #popupImajnetSettings,
#popupImajnetLRSSettings, #clipboardContainerId,
#clipboardExportContainerId, #newsContainerId {
  padding: 10px;
}

.searchLRSDiv .popupContentContainer {
  width: 330px;
}

.greenBorder {
  border: 1px solid rgb(58, 116, 185);
}

.itemOdd {
  background-color: #FAFAFA;
}

.itemEven {
}

.itemOdd {
  background-color: rgb(242, 242, 242);
  background-color: rgba(242, 242, 242, 0.5);
}

.itemEven:hover, .itemOdd:hover {
  color: #FFFFFF;
  background-color: rgb(41, 140, 255);
  background-color: rgba(41, 140, 255, 0.8);
}

#popupImajnetClipboardButtonsContainer {
  margin-top: 5px;
  text-align: center;
}

.imajnetItem .ui-combobox {
  position: relative !important;
  display: inline-block !important;
}

.imajnetItem span.ui-combobox {
  height: 24px;
}

.imajnetItem span.ui-combobox a, .ui-state-default, .ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  outline: none !important;
  background: #f6f6f6 url(../img/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x;
}

.imajnetItem span.ui-combobox a span.ui-icon {
  background-image: url('../img/selectArrow.png?ver=1');
  background-position: center;
}

.imajnetItem span.ui-combobox input {
  height: 20px;
  border: 1px solid #C1C1C1;
  border-radius: 5px 0 0 5px;
  border-right: none;
  outline: none;
  padding-left: 8px;
}

.imajnetItem .ui-combobox-input {
  width: 145px;
}

.imajnetItem .ui-combobox-toggle {
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  margin-left: -1px !important;
  padding: 0 !important;
  *height: 1.7em !important;
  *top: 0.1em !important;
}

.imajnetAutocomplete {
  max-height: 300px !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  z-index: 10000000000 !important;
}

.notification {
  display: none;
  z-index: 1000000003;
  color: #FFFFFF;
  word-wrap: break-word;
}

.notification .ui-notify-message-style {
  background: rgb(38, 131, 239) !important;
  background: rgba(38, 131, 239, 0.67) !important;
  box-shadow: 0 0 6px #3a74b9 !important;
}

.jquery-corner div {
  background-color: transparent !important;
}

#imajnetDockingRightContainer_header .ui-menu .ui-menu-icon {
  float: left;
}

.zoomCursor {
  cursor: default !important;
}

.errors {
  color: #b94a48;
  font-size: 14px;
}

#imajnetImageSliderContainer {
  overflow: hidden;
}

#imajnetImageLayer {
  float: left;
  position: relative;
  top: 0;
  left: 0;
}

.popupImajnetImage {
  position: absolute !important;
  top: 0;
  left: 0;
  cursor: crosshair;
}

.imajnetLoading {
  background: rgb(38, 131, 239);
  background: rgba(38, 131, 239, 0.67);
  background-image: url('..//img/loading.gif');
  background-position: center;
  background-repeat: no-repeat;
}

#imajnetImageSliderInnerContainer {
  position: absolute;
}

.imajnetImageSliderArrowContainer {
  width: 81px;
  text-align: center;
  background-color: #FFFFFF;
}

.imajnetLayerSliderImage {
  width: 100%;
  height: 100%;
}

.imajnetLayerNoImage {
  background-color: #EEEEEE !important;
  background-image: url('../img/noVideo.png?ver=1');
  background-position: center;
  background-repeat: no-repeat;
}

.imajnetSwitcherNoImage {
  background-color: #EEEEEE !important;
  background-image: url('../img/noVideoSwitcherSmall.png?ver=1');
  background-position: center;
  background-repeat: no-repeat;
}

.popupImajnetDefaultImage {
  width: 343px !important;
  height: 445px !important;
  margin-left: auto;
  margin-right: auto;
  position: static !important;
}

.popupSwitcherNoImage {
  background-color: #EEEEEE !important;
  width: 343px !important;
  height: 445px !important;
  margin-left: auto;
  margin-right: auto;
}

.imajnetDefaultImageLayer {
  display: table-cell;
  vertical-align: middle;
}

.imajnetToolbarEditMode {
  float: right;
  right: 255px;
  height: 24px;
}

.imajnetToolbarEditMode div {
  float: right;
  margin: 2px;
  width: 24px;
  height: 24px;
}

.imajnetControls .imajnetControlsItemInactive {
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
}

.imajnetControls .imajnetControlsItemActive {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
}

.olControlImajnetClosestImageItemInactive {
  background-image: url('../img/imageIcons/closestImageMode.png?ver=1');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  float: left;
}

.olControlImajnetClosestImageItemActive {
  background-image: url('../img/imageIcons/closestImageMode.png?ver=1');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  float: left;
}

.olControlImajnetClickModeItemInactive {
  background-image: url('../img/imageIcons/clickMode.png?ver=1');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  float: left;
}

.olControlImajnetClickModeItemActive {
  background-image: url('../img/imageIcons/clickMode.png?ver=1');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  float: left;
}

.olControlImajnetPluginItemInactive {
  background-image: url('../img/imajnetIcon24.png?ver=1');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  float: left;
}

.olControlImajnetPluginItemActive {
  background-image: url('../img/imajnetIcon24.png?ver=1');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  float: left;
}

.olControlImajnetClipboardItemInactive {
  background-image: url('../img/imajnetClipboard24.png?ver=1');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  float: left;
}

.olControlImajnetClipboardItemActive {
  background-image: url('../img/imajnetClipboard24.png?ver=1');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  float: left;
}

.olControlImajnetLayoutImageSmallItemInactive {
  background-image: url('../img/imajnetLayoutImageSmall.png?ver=1');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  float: left;
}

.olControlImajnetLayoutImageSmallItemActive {
  background-image: url('../img/imajnetLayoutImageSmall.png?ver=1');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  float: left;
}

.olControlImajnetLayoutImageHalfItemInactive {
  background-image: url('../img/imajnetLayoutImageHalf.png?ver=1');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  float: left;
}

.olControlImajnetLayoutImageHalfItemActive {
  background-image: url('../img/imajnetLayoutImageHalf.png?ver=1');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  float: left;
}

.olControlImajnetLayoutImageBigItemInactive {
  background-image: url('../img/imajnetLayoutImageBig.png?ver=1');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  float: left;
}

.olControlImajnetLayoutImageBigItemActive {
  background-image: url('../img/imajnetLayoutImageBig.png?ver=1');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  float: left;
}

.olControlImajnetLayoutNoImageItemInactive {
  background-image: url('../img/imajnetLayoutNoImage.png?ver=1');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  float: left;
}

.olControlImajnetLayoutNoImageItemActive {
  background-image: url('../img/imajnetLayoutNoImage.png?ver=1');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  float: left;
}

.olControlImajnetLayoutCustomItemInactive {
  background-image: url('../img/imajnetLayoutCustom.png?ver=1');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  float: left;
}

.olControlImajnetLayoutCustomItemActive {
  background-image: url('../img/imajnetLayoutCustom.png?ver=1');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  float: left;
}

.olControlImajnetLayoutResetToDefaultItemInactive {
  background-image: url('../img/imajnetLayoutResetToDefault.png?ver=1');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  float: left;
}

.olControlImajnetLayoutResetToDefaultItemActive {
  background-image: url('../img/imajnetLayoutResetToDefault.png?ver=1');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  float: left;
}

.imajnetControlsLayerButtonsItem {
  width: 24px;
  height: 24px;
  margin: 4px 0 0 4px;
  padding: 0;
  float: left;
}

.imajnetControlsLayerButtonsItem img {
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
}

.imajnetPreviewPanelItem {
  float: left;
  width: 85px;
  height: 70px;
  background-color: #CCCCCC;
  font-size: 11px;
  padding: 3px;
  text-align: center;
}

.imajnetPreviewPanelItemArrow {
  float: left;
  width: 30px;
  height: 60px;
  background-image: url('../img/imageIcons/arrowRightTransparent.png?ver=1');
  background-position: center;
  background-repeat: no-repeat;
}

.buttonActive {
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}

.redStep {
  background-color: #D60047;
}

.measurementText {
  position: absolute;
  color: #FFFFFF;
  z-index: 1;
}

.photogrammetryPopup {
  display: none;
  position: absolute;
  background-color: #CCCCCC;
  font-size: 11px;
  padding: 5px;
  z-index: 2;
}

.photogrammetryClipboardPopup {
  display: none;
  position: absolute;
  background-color: #CCCCCC;
  font-size: 11px;
  padding: 5px;
  z-index: 2;
}

.pinPoint {
  position: absolute;
  z-index: 1;
}

.zoomImageClickedPoint {
  background-color: #23ef24;
}

.imajnetClipboardItem {
  width: 330px;
  height: 32px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 12px;
  border-bottom: 1px solid #CCCCCC;
}

.imajnetClipboardItemEven {
  background-color: #DDDDDD;
}

.imajnetClipboardItem:hover {
  background-color: #5AD1FC;
}

.imajnetClipboardItemImage {
  width: 35px;
  height: 30px;
}

.imajnetClipboardComment {
  margin-left: 5px;
}

.imajnetClipboardStarImage {
  width: 16px;
  height: 16px;
  margin-top: 5px;
}

.imajnetClipboardPrecision {
  margin-left: 5px;
  margin-right: 5px;
  color: #D60047;
  font-size: 20px;
}

.imajnetClipboardDelete {
  height: 30px;
}

.LRSDoubleClickMessage {
  font-size: 10px;
}

.LRSDoubleClickComment {
  max-width: 120px;
  height: 12px;
  overflow: hidden;
}

.imajnetClipboardCommentContainer {
  height: 30px;
  overflow: hidden;
}

.textareaEditComment {
  position: absolute;
  font-size: 12px !important;
  z-index: 2;
  -webkit-touch-callout: text !important;
  -webkit-user-select: text !important;
  -khtml-user-select: text !important;
  -moz-user-select: text !important;
  -o-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}

.textAreaEditClipboardComment {
  height: 24px;
  font-size: 12px !important;
  z-index: 2;
  margin: 0;
  padding: 0;
}

.LRSDoubleClickClipboardMessageContainer {
  position: absolute;
  font-size: 12px !important;
  z-index: 2;
}

.customDialog {
  overflow: hidden !important;
}

.borderSeparator {
  border: 1px solid #CCCCCC !important;
  margin-top: 10px;
  padding: 5px;
}

.imageSwitcherItem {
  float: left;
  position: relative;
  width: 63px;
  height: 42px;
}

.imajnetImageSwitcherImageItem {
  width: 41px;
  height: 23px;
}

.imajnetImageSwitcherOrderedImageItemImage {
  border: 1px solid #000000;
  border-collapse: collapse;
  display: block;
}

.selectedImageBorder {
  border: 1px solid #000000;
}

.imageSurveyTrace {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.orderedImageDate {
  text-align: center;
  padding: 0;
  background-color: #FFFFFF;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-collapse: collapse;
  margin: auto;
  color: #000000;
}

.orderedImageDateBorder {
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.leftLabel {
  width: 100px;
  text-align: right;
}

.imajnetImageSwitcherOrderedImageItem {
  background-color: #FFFFFF;
}

.localeImage {
  margin-top: 3px;
  margin-right: 3px;
  cursor: pointer;
}

.imajnetImageContainer {
  overflow: hidden !important;
}

#imajnetSurveyTraceLayer {
  position: absolute;
  top: 0;
  left: 0;
}

#imajnetPreviewPanel {
  position: absolute;
  top: 0;
  left: 50%;
  width: 334px;
  margin-left: -167px;
  display: none;
  margin-top: 5px;
}

#imajnetPreviewPanelContent {
  margin: auto;
  width: 340px;
}

#imajnetPhotogrammetryZoomedImageContainer {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 180px;
  height: 150px;
  overflow: hidden;
  display: none;
  border-top: 2px solid #000000;
  border-left: 2px solid #000000;
  z-index: 1;
}

#imajnetPhotogrammetryZoomedImage {
  position: relative;
  top: 0;
  left: 0;
  display: inline;
}

#popupImajnetControlsLayer {
  height: 100%;
  position: static !important;
}

#imajnetErrorsPopup {
  height: 100%;
  width: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  vertical-align: middle;
  text-align: center;
  color: #FFFFFF;
  z-index: 3;
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}

#imajnetErrorsPopupText {
  height: 40px;
  margin: auto;
  margin-top: 100px;
  padding-top: 10px;
  background-color: #FFFFFF;
  vertical-align: middle;
  text-align: center;
  color: #000000;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
}

#clipboardContainerIdContent {
  width: 348px;
  height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  border: 1px solid #CCCCCC;
  margin-top: 3px;
  background-color: rgba(242, 242, 242, 0.5);
  border: 1px solid #DBDCD8;
}

#imajnetExportToContainer {
  width: 435px;
  height: 100px;
  overflow: auto;
  margin-top: 5px;
}

#imajnetExportButtons {
  margin-top: 5px;
}

#imajnetImageSwitcherImageContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: transparent;
}

#imajnetImageSwitcherImage {
  width: 100%;
  height: 100%;
}

#imajnetImageSwitcher {
  position: absolute;
  top: 0;
  right: 0;
  width: 189px;
  padding-right: 5px;
  z-index: 2;
}

#imajnetImageSwitcherOrderedImagesContainer {
  position: absolute;
  top: 5px;
  right: 0;
  z-index: 3;
  display: none;
}

.imajnetImageSwitcherOrderedImagesInnerContainer {
  float: left;
  overflow: hidden;
}

.scrollOrderedImagesLeftImage:hover {
  cursor: pointer;
}

.scrollOrderedImagesLeftImage {
  background-repeat: no-repeat;
  background-position: right;
  vertical-align: middle;
}

.scrollOrderedImagesRightImage:hover {
  cursor: pointer;
}

.scrollOrderedImagesRightImage {
  background-repeat: no-repeat;
  background-position: left;
  vertical-align: middle;
}

#imajnetZoomOnShiftBox {
  position: absolute;
  border: 1px solid #3A74B9;
  background-color: rgba(58, 116, 185, 0.15);
  display: none;
}

#imajnetDockingMainContainer_imageLRSGUI {
  display: none;
}

.imajnetLRSGUI {
  cursor: crosshair;
  display: none;
}

#imajnetLRSGUI {
  background: rgb(58, 116, 185);
  background: rgba(58, 116, 185, 0.60);
  z-index: 2;
}

.imajnetLRSGUIItem {
  width: 100px;
  height: 100%;
}

.settingsLeft {
  width: 175px;
}

.settingsSearchLeft {
  width: 75px;
  padding-top: 15px;
}

#imajnetAddress {
  width: 150px;
  height: 18px;
  line-height: 18px;
  color: #000000;
}

.sliderTopTitle {
  width: 430px;
  padding-bottom: 5px;
}

.sliderTopTitleSmall {
  width: 260px;
  padding-bottom: 5px;
}

.optionsGroupRight {
  width: 170px;
  height: 170px;
  margin-left: 5px;
  padding-left: 5px;
}

.LRSSettingsSelect {
  width: 105px;
}

.notification .ui-notify-message-style {
  background: rgb(38, 131, 239) !important;
  background: rgba(38, 131, 239, 0.67) !important;
  box-shadow: 0 0 6px #3a74b9 !important;
}

.sequenceDetailsLeft {
  width: 100px;
}

#imajnetImageSwitcherBigModeContainer {
  width: 100%;
}

#imajnetImageSwitcherBigModeInnerContainer {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  border: 2px solid #CCCCCC;
}

#popupHelp {
  overflow: auto !important;
}

#popupAboutImajnet {
  overflow: auto !important;
}

#imajnetExportMessage {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  padding-left: 8px;
  padding-right: 8px;
}

#popupImajnetSettings div.optionsGroup {
  width: 520px;
}

.imajnetLink {
  font-size: 15px;
  font-weight: bold;
}

.imajnetLink img {
  border: none;
}

.imajnetLink:hover {
  color: #3a74b9;
}

#searchLRSPopup {
  font-size: 16px;
}

#imajnetImageLRSInTitle {
  height: 18px;
  line-height: 18px;
  margin: 13px 0 0 0;
  padding: 1px;
  position: absolute;
  right: 40px;
}

.textVertically {
  width: 20px !important;;
  word-wrap: break-word;
  letter-spacing: 10px;
  text-align: center;
  padding-left: 2px;
}

#cboxLoadedContent {
  overflow: hidden !important;
}

#sequenceTraceTitleContainer {
  z-index: 5;
  position: absolute;
  ackground: rgb(58, 116, 185);
  background: rgba(58, 116, 185, 1);
  border-radius: 10px;
  padding: 5px;
  display: none;
  font-size: 12px;
  color: #FFFFFF;
}

.searchLRSType {
  width: 220px;
  margin: auto;
}

.popup {
  display: none;
  position: absolute;
  background-color: #CCCCCC;
  padding: 10px;
  z-index: 9999;
}

#newsContainerId {
  text-align: left;
  max-height: 400px;
  overflow: auto !important;
  color: rgba(38, 131, 239);
}

.newsCloseButton {
  margin-top: 5px;
  margin-bottom: 5px;
}

.newsItemMainContainer {
  cursor: pointer;
  padding: 2px;
  border-bottom: 1px solid #CCCCCC;
}

.newsItemMainContainer:hover {
  background: rgba(38, 131, 239, 0.67);
  color: #FFFFFF;
}

.oldNewsItem {
  opacity: 0.75;
  color: #6B6B6B;
}

.newsImageContainer {
  width: 50px;
}

.newsImageContainer {
  width: 50px;
  height: 100%;
}

.newsImage {
  width: 50px;
  height: 50px;
}

.newsItemContainer {
  width: 410px;
  word-wrap: break-word;
  margin-left: 10px;
  margin-top: 5px;
}

.newsTitle {
  font-weight: bold;
  width: 100%;
}

.newsContent {
  width: 100%;
  max-height: 200px;
  overflow: auto;
}

.noOverflow {
  height: 20px;
  line-height: 20px;
  overflow: hidden;
}

#imageDateContainer {
  top: 5px;
  left: 5px;
  height: 25px;
  line-height: 25px;
  width: auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.dialogErrorsContainer {
  display: none;
}

.olLayerDiv img[src*="pinpoint.png"] {
  top: -16px;
}

.loadmask-msg div {
  -webkit-backface-visibility: hidden !important;
  backface-visibility: hidden !important;
}

.left {
  float: left;
}

.clearLeft {
  clear: left;
}

.address {
  height: 40px;
  bottom: 5px;
  padding-top: 1px !important;
  padding-bottom: 1px !important;
  display: none;
}

.addressLeft {
  left: 5px;
}

.addressRight {
  right: 5px;
}

.addressSmall {
  max-width: 190px;
  width: auto;
  height: 14px !important;
  padding-top: 2px !important;
}

.searchAddressDiv {
  padding: 10px 20px 20px 20px;
}

.searchAddressTopDiv {
  line-height: 30px;
}

#searchResultsDiv {
  border: 1px solid #CCCCCC;
  height: 243px;
  overflow: auto;
  width: 639px;
}

.error {
  font-size: 14px;
  padding: 10px;
  color: #FF0000;
}

.searchAddressItemContainer {
  height: 80px;
  border-bottom: 1px solid #CCCCCC;
}

.searchAddressItemImageContainer {
  margin-left: 15px;
  margin-top: 25px;
  width: 30px;
}

.searchAddressItemImage {
  width: 30px;
  height: 30px;
}

.searchAddressItemDescriptionContainer {
  position: relative;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 10px;
  width: 560px;
}

@CHARSET "UTF-8";
.left {
  float: left;
}

.clearLeft {
  clear: left;
}

.LRS {
  right: 5px;
  display: none;
}

.LRSForLineTitle {
  width: 100%;
  text-align: center;
}

.LRSLineFeature {
  float: left;
  margin: 5px 0 0 5px;
}

.LRSFeatures {
  font-size: 14px;
}

.popupFeatureInfo .LRSFeatures {
  width: auto;
}

.LRSFeatureItemName {
  width: 100px;
  white-space: nowrap;
  font-size: 14px;
  color: #298CFF;
}

#searchLRSPopup {
  width: 430px !important;
}

.LRSTypeItem {
  margin-right: 10px;
}

.LRSItemName {
  max-height: 11px;
  max-width: 87px;
  white-space: nowrap;
}

.LRSItemValue {
  max-height: 11px;
  max-width: 120px;
  white-space: nowrap;
}

.searchLRSItemName {
  width: 130px;
  margin-top: 5px;
  margin-left: 5px;
  font-size: 15px;
  color: #298CFF;
}

.searchLRSDialogContentBody .ui-combobox-input {
  width: 175px;
}

.searchLRSType {
  width: 32px;
  height: 32px;
}

.LRSImageItem {
  margin: 0;
  padding: 0;
  height: 11px;
  line-height: 11px;
}

.LRSImageItemRoad {
  margin: 0;
  padding: 0;
  height: 15px;
  line-height: 15px;
  font-size: 15px;
  font-weight: 500;
  overflow: hidden;
}

.LRSImageItemPRABS {
  margin: 0;
  padding: 0;
  height: 22px;
  line-height: 22px;
  font-size: 20px;
  font-weight: bold;
}

.LRSSettingsReferentialContainer {
  width: 610px;
  margin: auto;
}

.LRSSettingsReferentialItemContainer {
  width: 285px;
  margin-top: 5px;
}

.searchLRSDialogContentHeader {
  margin-top: 15px;
}

.searchLRSDialogContentBody {
  margin-top: 20px;
}

.searchLRSDialogContentHeaderTitle {
  height: 25px;
  line-height: 25px;
  margin: 0 40px 0 20px;
}

.searchLRSDialogContentBodyBorder {
  margin: 15px 15px 5px 15px;;
  padding: 25px 20px 25px 30px;
}

.searchLRSDiv {
  width: 450px;
}

input[type=button].buttonSearch {
  background-image: url('..//img/buttons/BTN-FBR.PNG?ver=1') !important;
  width: 145px;
}

input[type="button"].dialogLRSButtonCancel {
  width: 145px;
  margin-right: 30px;
}

#LRSSearchRelative, #LRSSearchCumulated {
  width: 212px;
}

.LRSSearchItem {
  margin-top: 5px;
}

.LRSItemContainer {
  margin-top: 10px;
}

.LRSSubtitle {
  height: 25px;
  color: #298CFF;
}
